body {
    /*Pour colorier l'arrière plan*/
    background-color: #8ba1bb;
    font-family: Arial, Helvetica, sans-serif;
    }
    /* Style pour les paragraphes avec la classe 'categorie' */
    p.categorie {background-color: black;
        color: white;
        display: inline-block;
        padding:1%;
        margin-bottom: 0px;
        font-weight: bold;
        font-size: 16px;
        
        }
    /* Style pour les div avec la classe 'categorie' */
    div.categorie {
        text-align: center;
        margin-bottom: -20px;
    }
    div.contenu {
        background-color: white;
        margin: 0px 10% 80px 10%;
        padding: 30px;
        min-width: 350px;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    }
    /* Style pour le titre h1 */
    h1 {
        text-align:center;
    }
    p.description {
        text-align: center;
        max-width: 400px ;
        display: inline-block;
    }
    div.description {
        text-align: center;
    }
    p.sep{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    .centrer {
        text-align: center;
        width: 100%;
    }
    table.info{
        position: absolute; bottom:0; width:100%; color:white; background-color: #6c829dc0;
    
    }
    div.info{
        position:relative; background-color:blue
    }
    table.info td{
        text-align: center;
    }
    img.info {
        display: block;
        max-height: 400px;
        object-fit: cover;
        min-height: 200px;
        background-color: #8ba1bb;

    }
    div.colonne {
        width: 45%;
        margin-top: 20px;
        margin-top: 20px;
    }
    div.colonne1{
        /*background-color: lightblue;*/
        display: inline-block;
        margin-right: 10%;
    }
    div.colonne h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        border-bottom: 10px solid #6c829d;
        padding-bottom: 5px;
    }
    div.colonne2{
        float: right;
    }
    div.ingrédient p {
        border: 2px solid black;
        text-align:center;
        padding:5px 0;
        margin:1%;
    }
    div.prep p {
        border: 2px solid black;
        text-align:center;
        padding:5px 0;
        margin:1%;
    }
    *{
        overflow:auto;
    }